<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
    {% if site.mathjax %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$']],
          displayMath: [['$$', '$$'], ['\[', '\]']]
        }
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer integrity="sha384-Wuix6BuhrWbjDBs24bXrjf4ZQ5aFeFWBuKkFekO2t8xFU0iNaLQfp2K6/1Nxveei" crossorigin="anonymous"></script>
    {% endif %}
  </head>
  <body>
    <div class="floating-image" aria-hidden="true">
      <img
        class="page-art"
        src="{{ '/assets/img/bg_pics/say_sue_me_album.png' | relative_url }}"
        alt="background picture of Say Sue Me"
        loading="lazy"
      >
    </div>
      <div id="header">
        <div class="header-brand">
          <span class="brand-title">{{ site.title | default: site.github.repository_name }}</span>
          <!-- <span class="brand-tagline">{{ site.description | default: site.github.project_tagline }}</span> -->
        </div>
        <a class="personal-website-button" href="https://zehao-here.github.io">Personal Website</a>
      </div>

    <div class="wrapper">

      <section>
        <!-- <div class="section-header">
          <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>

          </div>
        </div> -->

        {{ content }}
        
      </section>

    </div>
  </body>
</html>
